# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Environment files
.env

# Logs
logs
*.log

# Docker
Dockerfile.dev
docker-compose.override.yml

# Others
.DS_Store
